.custom-th-id {
    width: 100px;
    min-width: 70px;
}
  
.custom-th {
    width: 300px;
    min-width: 100px;
    overflow: hidden;
}

.custom-td-imagen {
    width: 400px;
    min-width: 350px;
    word-break: break-all;
}