/* Barra de navegación */
.barra-nav {
    padding: 15px;
    border-bottom: 1px solid rgb(224, 221, 221);
}

.navbar {
    padding: 0;
}

.logo-nav {
    margin: 0;
    padding: 0;
    width: 150px;
    height: auto;
}

.nav-link {
    transition: all 0.2s ease-in;
}

.nav-link:hover {
    color: rgb(99, 99, 224);
    font-weight: 600;
}


/* Elementos Generales */
section, footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

header {
    background-color: white;
}

h2 {
    font-weight: bold;
    font-size: 1.9rem;
    text-align: center;
    padding: 10px 0;
}

h4 {
    font-weight: bold;
    font-size: 1.6rem;
    padding: 5px 0;
}

footer {
    margin: 50px auto 0 auto;
    padding: 25px;
}


/*Presentacion*/
#presentacion {
    padding: 25px;
    margin: 20px 0;
}

.main {
    background-image: url(Img/fondo/background-image.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 10px;
    height: 500px;
}

.main-texto {
    padding: 20px;
    background-color: rgba(224, 221, 221, 0.4);
    border-radius: 10px;
}

.titulo, .subtitulo {
    text-align: center;
    font-weight: 600;
}


/* Reservas */
#reservas {
    padding: 25px;
    margin: 20px 0;
}

.reservas {
    padding: 20px;
    border-radius: 10px;
    background-color: rgba(224, 221, 221, 0.2);
    border: 1px solid rgba(224, 221, 221, 0.1);
    box-shadow: 0 0 1px 1px rgb(224, 221, 221);
}


.div-reserva {
    margin-top: 15px;
    padding: 25px;
    border-radius: 10px;
}

.form-control, .form-select {
    font-size: 1.1rem;
    padding: 10px;
    margin: 10px 0;
}

.scroll {
    height: auto;
    max-height: 100px;
    overflow-x: hidden;
}

.boton {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.btn {
    background-color: rgb(99, 99, 224);
    color: white;
    font-weight: bold;
    font-size: 1.1rem;
    padding: 10px;
    width: 300px;
    transition: all 0.2 ease-in;
}

.btn:hover {
    border: 1px solid rgb(99, 99, 224);
    background-color: white;
    color: rgb(99, 99, 224);
}

.categorias {
    margin-top: 40px;
}

.categorias a {
    all: unset;
}


/* Carousel Vehículos */
#vehiculos {
    padding: 25px;
    margin: 20px 0;
}

.carousel-inner {
    position: relative;
    overflow: hidden;
    padding-top: 20px;
    max-width: 600px;
    width: 100%;
    height: 600px;
}

.img-carousel {
    margin-top: 90px;
    width: 100%;
    height: auto;
    padding: 2rem;
}

.suv {
    margin-top: 140px;
}

.carousel-caption {
    top: 0;
    color: #000c;
    padding-bottom: 25px;
}

.carousel-indicators img {
    max-width: 70px;
    width: 100%;
    display: block;
}

.carousel-indicators button {
    width: max-content !important;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    background-color: #0005;
}


/* Footer */
.link {
    color: white;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: start;
}

.footer-link {
    color: white;
    text-decoration: none;
    transition: all 0.2s ease-in;
}

.footer-link:hover {
    color: rgb(99, 99, 224);
}

.footer-texto {
    color: white;
    text-align: center;
}

.info {
    padding-top: 25px;
}

.firma {
    color: white;
    padding-top: 30px;
    text-align: center;
}


/* Responsividad */
@media screen and (max-width: 576px){
    /* Barra de Navegación */
    .logo-nav{
        width: 130px;
    }

    .link {
        align-items: center;
    }

    .footer-link {
        font-size: 1rem;
    }
}
 
@media screen and (max-width: 375px){
    /* Carousel */
    .carousel-caption {
        font-size: 0.9rem;
    }

    .img-carousel {
        margin-top: 160px;
    }

    /* Reservas */
    .form-control, .form-select {
        font-size: 0.9rem;
    }

    /* Footer */
    .link h5 {
        font-size: 1rem;
    }

    .footer-link{
        font-size: 0.8rem;
    } 

    .info {
        font-size: 0.8rem;
    }
}

@media screen and (max-width: 320px){
    /* Reservas */
    .form-control, .form-select {
        font-size: 0.7rem;
    }
}